@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

:root {
  --color-primary-light: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-dark: #011c44;
  --color-secondary-grey: #747272;
  --color-secondary-dark-grey: #4a4a4a;
  --color-secondary-dark: #011f4a;
  --color-secondary-yellow: #ffd02b;
}

/*base*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-family: 'Robot';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary-dark);
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.accent {
  color: var(--color-primary-blue);
}
/*header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(4px);
}

.header__container {
  display: flex;
  gap: 40px;
  padding: 32px 0;
}

.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header__menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header__social {
  display: flex;
  gap: 40px;
}

.header__logo {
  font-family: 'Play';
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  color: var(--color-primary-blue);
}

.link {
  color: var(--color-primary-dark);
  cursor: pointer;
  transition: color 0.5s;
}

.link:hover {
  color: var(--color-primary-blue);
}

.header__icon {
  cursor: pointer;
  transition: color 0.5s;
}

.header__icon:hover {
  fill: var(--color-primary-blue);
}

/*hero*/

.hero {
  margin: 0 auto;

  background: linear-gradient(
      89deg,
      #fff 30.62%,
      rgba(255, 255, 255, 0.85) 41.31%,
      rgba(255, 255, 255, 0.19) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url(../images/doctar.jpg) no-repeat;
  max-width: 1440px;
  min-height: 800px;
  background-position: right top;
  background-size: cover;
}

.hero__container {
  padding-top: 140px;
  padding-left: 140px;
}

.hero__text {
  margin-bottom: 16px;
}

.hero__title {
  font-family: 'Play';
  font-size: 140px;
  font-weight: 700;
  line-height: 1;
  color: var(--color-primary-blue);
  margin-bottom: 40px;
}

.hero__button {
  font-weight: 600;
  color: var(--color-primary-light);
  padding: 16px 32px 16px 32px;
  cursor: pointer;
  border-radius: 32px;
  border: none;
  opacity: 0px;
  background-color: var(--color-primary-blue);
  margin-bottom: 14px;
}

.hero__info {
  font-size: 12px;
  line-height: 1.5;
  max-width: 238px;
}

/*about*/

.about {
  padding-bottom: 175px;
}

.about__container {
  display: flex;
  height: 625px;
  gap: 40px;
}

.about__description {
  max-width: 600px;
}

.about__title {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
  line-height: 1.15;
  text-align: left;
  margin-bottom: 40px;
}

.about__text {
  font-size: 22px;
  line-height: 1.5;
}

.about__text:first-of-type {
  margin-bottom: 40px;
}

.about__text-bold {
  font-weight: 600;
}

.about__images {
  flex-basis: 50%;
  position: relative;
}

.about__image-black {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.about__image-white {
  position: absolute;
  border-radius: 50%;
  right: 0;
  bottom: 0;
}

.about__icon-large  {
  position: absolute;
  right: 0;
  top: 336px;
  left: 117px;
  
  z-index: 10;
  /*animation: rotate360 2s ease infinite;*/
}

/*advantages*/

.advantages {
  position: relative;
  padding: 85px 0;
}

.advantages::before {
  content: '';
  position: absolute;
  top: -200px;
  width: 100%;
  height: 100vh;
  background-image: url(../images/background.png);
  background-size: cover;
  z-index: -10;
}

.advantages__container {
  padding-bottom: 96px;
}

.advantages__title {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  margin: 0 auto 48px auto;
  max-width: 432px;
}

.advantages__item {
  display: flex;
  gap: 54px;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages__list {
  padding: 24px 32px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  max-width: 292px;
  box-shadow: 0px 4px 4px 0px #a8c6f561;
  text-align: center;
}

.advantages__icon {
  fill: var(--color-primary-blue);
}

/*procedures*/

.procedures__title {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  margin: 0 auto 48px auto;
}

.procedures__slider {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 96px;
}

.procedures__item {
  display: flex;
}

.carousel-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button.prev {
  transform: rotate(180deg);
}

.carousel-arraw {
  fill: var(--color-primary-dark);
}

.carousel-button:hover {
  background-color: var(--color-primary-blue);
  border: var(--color-primary-blue);
}

.carousel-button:hover .carousel-arraw {
  fill: var(--color-primary-light);
}

.procedures__container {
  overflow: hidden;
}

.procedures__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 456px;
  width: 344px;
  gap: 0px;
  border-radius: 4px 120px 4px 120px;
  opacity: 0px;
  rotate: -180 deg;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );
}

.procedures__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 4px 120px 4px 120px;
  align-items: center;
}

.procedures__card-title {
  max-width: 152px;
  color: var(--color-primary-light);
  font-size: 22px;
  text-align: center;
  margin: 0 auto 32px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}

.pagination__button {
  width: 12px;
  height: 12px;
  background-color: var(--color-secondary-dark);
  border-radius: 50%;
  padding: 0;
}

.pagination__button--active {
  background-color: var(--color-primary-blue);
}

/*contacts*/
.contacts {
  padding-bottom: 96px;
}

.contacts__form {
  padding: 40px 75px;
  background-color: var(--color-primary-dark);
  border-radius: 32px;
}

.contacts__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
}

.contacts__title {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 48px;
}

.contacts__map {
  width: 605px;
  border-radius: 32px;
}

.contacts__text {
  color: var(--color-primary-light);
  font-size: 22px;
  font-weight: 600;
  margin: 0 auto 32px;
  width: 274px;
  text-align: center;
}

.contacts__button {
  display: block;
  margin: 0 auto 8px;
}
/*footer*/

.footer {
  background-color: var(--color-primary-dark);
  padding: 56px 0;
  position: relative;
}

.footer::after {
  position: absolute;
  background-image: url('/images/footer-priparaty.png');
  content: '';
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 150px;
  display: block;
}

.footer__container {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  gap: 20px;
}

.footer__logo {
  font-family: 'Play';
  font-size: 24px;
  font-weight: 700;
  line-height: 1.14;
  text-align: left;
  color: var(--color-primary-blue);
  flex-grow: 1;
  flex-basis: 50%;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  text-align: left;
  gap: 20px;
  flex-grow: 1;
}

.footer__address {
  flex-direction: row;
  flex-basis: 50%;
  text-align: left;
  gap: 20px;
}

.footer__social {
  display: flex;
}

.footer__address-info {
  flex-basis: 50%;
  text-align: right;
}

.footer__social-list {
  margin-right: 24px;
  fill: var(--color-primary-light);
}

.footer__icon {
  cursor: pointer;
  transition: color 0.5s;
}

.footer__icon:hover {
  fill: var(--color-primary-blue);
}

.footer__menu-list {
  margin-bottom: 16px;
}

.footer__menu-list:last-child {
  margin-bottom: 0;
}

.footer__address-list {
  margin-bottom: 16px;
}

.footer__address-copyright {
  font-size: 13px;
  line-height: 1.1;
  color: var(--color-secondary-grey);
}

.footer__link {
  color: var(--color-primary-light);
  font-size: 16px;
  line-height: 1;
}

.footer__link:hover {
  color: var(--color-primary-blue);
}

/*backdrop*/

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 31, 74, 0.4);
  padding: 20px 0;
  transition: opacity 1s, visibility 1s;
  z-index: 1000;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*modal*/

.modal {
  position: relative;

  width: 100%;
  max-width: 725px;
  height: 100%;
  max-height: 680px;
  background-color: var(--color-primary-dark);
  border-radius: 48px;
  padding: 42px 144px;
  overflow-y: auto;
}

.modal__btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__icon {
  fill: var(--color-primary-light);
  background-color: var(--color-primary-dark);
}

.modal__title {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  color: var(--color-primary-light);
  margin-bottom: 40px;
}

.modal__text {
  color: var(--color-primary-light);
  font-size: 22px;
  font-weight: 600;
  margin: 0 auto 32px;
  margin-right: auto;
  width: 274px;
  text-align: center;
}

.input {
  position: relative;
}

.imput__label {
  position: absolute;
  top: 16px;
  left: 42px;
  background-color: #747272;
}

.imput__control {
  padding: 18px 32px;
  width: 100%;
  font-size: 13px;
  line-height: 1.17;
  border: 2px solid var(--color-secondary-grey);
  border-radius: 32px;
  background-color: transparent;
  margin-bottom: 24px;
  color: var(--color-primary-light);
}

.imput__control:focus {
  border: var(--color-secondary-grey);
  background-color: var(--color-secondary-grey);
  outline: none;
}

.imput__control::placeholder {
  color: var(--color-primary-light);
}

.button {
  font-weight: 600;
  color: var(--color-primary-light);
  padding: 16px 32px 16px 32px;
  cursor: pointer;
  border-radius: 32px;
  border: none;
  opacity: 0px;
  background-color: var(--color-primary-blue);
  margin-bottom: 14px;
}

.modal__button {
  display: block;
  margin: 0 auto 8px;
}

.form-terms {
  color: var(--color-secondary-grey);
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
}

.form-terms__link {
  color: var(--color-secondary-grey);
  text-decoration: underline;
  text-underline-offset: 2px;
}
