.button {
  font-weight: 600;
  color: var(--color-primary-light);
  padding: 16px 32px 16px 32px;
  cursor: pointer;
  border-radius: 32px;
  border: none;
  opacity: 0px;
  background-color: var(--color-primary-blue);
  margin-bottom: 14px;
}