.contacts {
  padding-bottom: 0;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 96px;
  }

  &__form {
    padding: 42px 24px;
    background-color: var(--color-primary-dark);
    border-radius: 32px;
    max-width: 423px;
    max-height: 500px;
    flex-basis: 40%;
    border: 0;
     @media screen and (min-width: $bp-tablet) {
     padding: 48px 75px;}
  }

  &__container {
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__title {
    font-family: 'Play';
    font-size: 32px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 64px;
      font-weight: 700;
      margin-bottom: 48px;
    }
  }

  &__map {
    flex-shrink: 0;
    height: 232px;
    margin: 0 -24px;
    border: none;
    @media screen and (min-width: $bp-tablet) {
      width: 605px;
      border-radius: 32px;
      height: 500px;
      margin: 0;
    }
  }

  &__text {
    color: var(--color-primary-light);
    font-size: 22px;
    font-weight: 600;
    margin: 0 auto 32px;
    width: 274px;
    text-align: center;
  }

  &__button {
    display: block;
    margin: 0 auto 8px;
  }
}
