.footer {
  background-color: var(--color-primary-dark);
  padding: 56px 0;
  position: relative;

  &::after {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      position: absolute;
      background-image: url('/images/footer-priparaty.png');
      content: '';
      background-repeat: no-repeat;
      right: 0;
      bottom: 0;
      width: 250px;
      height: 150px;
      display: block;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      gap: 20px;
    }
  }

  &__logo {
    font-family: 'Play';
    font-size: 16px;
    font-weight: 700;
    line-height: 1.14;
    color: var(--color-primary-blue);
    flex-grow: 1;
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 42px;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
      font-size: 24px;
      margin-bottom: 0;
    }
  }

  &__menu {
    text-align: center;
    margin-bottom: 16px;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
      gap: 20px;
      flex-grow: 1;
      margin-bottom: 0;
    }
  }

  &__address {
    display: none;
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      display: block;
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
      gap: 20px;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }
  }

  &__address-info {
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      flex-basis: 50%;
      text-align: right;
    }
  }

  &__social-list {
    margin-right: 24px;
    fill: var(--color-primary-light);
  }

  &__social-list:last-child {
    margin-right: 0;
  }

  &__icon {
    cursor: pointer;
    transition: color 0.5s;
  }

  &__icon:hover {
    fill: var(--color-primary-blue);
  }

  &__menu-list {
    margin-bottom: 16px;
  }

  &__menu-list:last-child {
    margin-bottom: 0;
  }

  &__address-list {
    margin-bottom: 16px;
  }

  &__address-copyright {
    font-size: 13px;
    line-height: 1.1;
    color: var(--color-secondary-grey);
  }

  &__link {
    color: var(--color-primary-light);
    font-size: 16px;
    line-height: 1;
  }

  &__link:hover {
    color: var(--color-primary-blue);
  }
}
