.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(4px);

  &__container {
  display: flex;
  gap: 40px;
  padding: 32px 0;
}

&__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

&__menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

&__social {
  display: flex;
  gap: 40px;
}

&__logo {
  font-family: 'Play';
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  color: var(--color-primary-blue);
}



&__icon {
  cursor: pointer;
  transition: color 0.5s;
}

&__icon:hover {
  fill: var(--color-primary-blue);
}
}


