.hero {
  margin: 0 auto;
  background: linear-gradient(
      56.68deg,
      #ffffff 20.92%,
      rgba(255, 255, 255, 0.78) 44.46%,
      rgba(255, 255, 255, 0.2) 58.9%,
      rgba(255, 255, 255, 0) 72.45%
    ),
    url(../images/doctar.jpg) no-repeat;
  max-width: 490px;
  min-height: 425px;
  width: 100%;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: $bp-tablet) {
    max-width: 1440px;
    min-height: 800px;
    background-position: top right;
    background: linear-gradient(
        89deg,
        #fff 30.62%,
        rgba(255, 255, 255, 0.85) 41.31%,
        rgba(255, 255, 255, 0.19) 58.65%,
        rgba(255, 255, 255, 0) 72.78%
      ),
      url(../images/doctar.jpg) no-repeat;
  }

  &__container {
    margin: 0 auto;
    padding-top: 140px;
    padding-left: 140px;
    @media screen and (max-width: $bp-desktop) {
      text-align: center;
      padding-left: 0;
      padding-top: 100px;
    }
  }

  &__logo-container {
    @media screen and (min-width: $bp-desktop) {
      width: 530px;
    }
  }

  &__text {
    font-size: 12px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-family: 'Play';
    font-size: 140px;
    font-weight: 700;
    line-height: 1;
    color: var(--color-primary-blue);
    margin-bottom: 40px;

    @media screen and (max-width: $bp-desktop) {
      font-size: 54px;
    }
  }

  &__button {
    font-weight: 600;
    color: var(--color-primary-light);
    padding: 16px 32px 16px 32px;
    cursor: pointer;
    border-radius: 32px;
    border: none;
    opacity: 0px;
    background-color: var(--color-primary-blue);
    margin-bottom: 14px;
  }

  &__info {
    font-size: 12px;
    line-height: 1.5;
    max-width: 238px;
    @media screen and (max-width: $bp-desktop) {
      margin: 0 auto;
      font-size: 11px;
    }
  }
}
